/* layout */
@font-face {
  font-family: 'cocon-regularregular';
  src: url('../fonts/cocon/cocon_regular.eot');
  src: url('../fonts/cocon/cocon_regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cocon/cocon_regular.woff2') format('woff2'),
       url('../fonts/cocon/cocon_regular.woff') format('woff'),
       url('../fonts/cocon/cocon_regular.ttf') format('truetype'),
       url('../fonts/cocon/cocon_regular.svg#cocon-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
}


input, textarea {
  -webkit-appearance: none;
}

button, input, select, textarea {
  line-height: normal;
}

html {
  overflow-y: scroll;
}

body {
  font-size: 13px;
  line-height: 1;
  color: #333333;
  background: #e0e0e0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  -webkit-focus-ring-color:rgba(255,255,255,0);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width:100%;
  -webkit-font-smoothing:antialiased!important;
  -moz-osx-font-smoothing:grayscale;
}

a {
  color: #a5245b;
}

a:active {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.2;
  margin: 0 0 14px 0;
}

ol li, ul li {
  line-height: 1;
}

img {
  max-width: 100%;
  margin: 0;
  height: auto;
}

hr {
  border: 0;
  height: 1px;
  overflow: hidden;
  background: #ccc;
  margin: 10px 0;
}

dl {
  margin-top: 0;
}

h1,
.header1 {
  font-size: 20px;
  color: #4c4c4c;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-family: 'cocon-regularregular';
  line-height: 1.2;
  text-align: center;
}

h2,
.header2 {
  font-size: 16px;
  font-family: 'cocon-regularregular';
  font-weight: 400;
  margin: 10px 0 15px 0;
}

h3,
.header3 {
  font-size: 14px;
  font-family: 'cocon-regularregular';
  font-weight: 400;
  margin: 10px 0 15px 0;
}

input::-moz-placeholder {
  color: #999999;
  opacity:1;
}

input::-webkit-input-placeholder {
  color: #999999;
  opacity:1;
}

input:focus:-moz-placeholder {
  opacity: 1;
  color: #999999;
}

input:focus::-moz-placeholder {
  opacity: 1;
  color: #ccc;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #ccc;
}

textarea::-moz-placeholder {
  color: #999999;
  opacity:1;
}

textarea::-webkit-input-placeholder {
  color: #999999;
  opacity:1;
}

textarea:focus:-moz-placeholder {
  opacity: 1;
  color: #ccc;
}

textarea:focus::-moz-placeholder {
  opacity: 1;
  color: #ccc;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #ccc;
}

textarea {
  resize: vertical;
}

ul.pagination {
  display: none;
}

font[size="4"] {
  font-size: 14px;
}

a font[color="#0000ff"],
a font[color="#f16522"] {
  color: #a5245b;
}

font[color="#ff0000"] {
  color: #a5245b;
}

font[color="#00aeef"],
span[style="*color:rgb(0, 174,"] {
  color: #dd4988;
}

[style*="large"] {
  font-size: 14px !important;
}

/*** layout ***/

/*** base ***/
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  padding: 75px 7px 165px;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  background: #fff;
  padding: 15px;
  min-height: 200px;
  line-height: 1.2;
}

.content h1 {
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: visibility 0s linear .1s,opacity .5s ease-out 0s;
  transition: visibility 0s linear .1s,opacity .5s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 110;
}

/* form elements */
.button,
.button01,
.b-btn_white {
  color: #483806;
  display: inline-block;
  padding: 1px 10px 0;
  line-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  background: #ffca27;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 0 0 #ecb200;
  box-shadow: 0 3px 0 0 #ecb200;
}

.button.loading:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 2;
}

.button.loading:after {
  width: 15px;
  height: 15px;
  margin: -10px 0 0 -10px;
  border-width: 4px;
}

.button.hover-effect {
  background-color: #ffd554;
}

.button input,
.button01 input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity:0;
  filter: alpha(opacity=0);
}

.button01,
.b-btn_white {
  background: #fff;
  border: 2px solid #a5245b;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #a5245b;
  font-weight: 700;
}

.form-input {
  padding: 0 10px;
  background: #fff;
  width: 100%;
  min-height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  display: block;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: left;
}

.form-input--border_red {
  border-color: #a5245b;
}

.form-input--font_grey {
  color: #999;
}

textarea.form-input {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.2;
}

.form-input--error {
  border-color: #b64f78 !important;
  background: #fce9e9;
}

.form-select {
  position: relative;
}

.form-select__arr {
  float: right;
  position: relative;
  margin-top: 8px;
}

.form-input--border_red .form-select__arr {
  color: #a5245b;
}

.form-select select {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-select.hover-effect {
  background: #e0e0e0;
}

.form-select__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox {
    font-size: 0;
    display: inline-block;
}

.checkbox__input {
    display: none;
}

.checkbox__label,
.checkbox__note {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    vertical-align: middle;
    line-height: 19px;
}

.checkbox__note {
    padding-left: 3px;
}

.checkbox__label::before {
    border: 1px solid #ccc;
    box-sizing: border-box;
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    background: #fff;
}

.checkbox__label::after {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    color: #fff;
    width: 16px;
    text-align: center;
    top: 0;
    left: 1px;
}

.checkbox__label::after {
    display: none;
}

.checkbox__input:checked + label::after {
    display: block;
}

.checkbox__input:checked + label::before {
    border-color: #84003e;
    background: #84003e;
}
/* form elements */

.nophoto--doctor_female {
  background-image: url('../i/doc-nophoto_female.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100% !important;
}

.nophoto--doctor_male {
  background-image: url('../i/doc-nophoto_male.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100% !important;
}

.in-bl {
  vertical-align: baseline;
  display: inline-block;
}

.hidden {
  display: none;
}

.loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  margin: -15px 0 0 -15px;
  animation: rotate 0.8s infinite linear;
  border: 6px solid #a5245b;
  border-right-color: transparent;
  border-radius: 50%;
  content: '';
  z-index: 3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table.web-table th {
    background: #999999 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}

table.web-table td {
    border-bottom: 1px solid #999999;
    padding: 5px;
    vertical-align: top;
}

.text-cutter {
  position: relative;
  overflow: hidden;
}

.text-cutter:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.text-catter-more {
  text-align: right;
  color: #a5245b;
  cursor: pointer;
}

.text-catter-more:hover {
  text-decoration: underline;
}

.phone-note {
  font-weight: 300;
  font-size: 10px;
  text-transform: lowercase;
  display: block;
}
/*** base ***/

/* footer */
.footer {
  min-height: 145px;
  margin-top: -145px;
  position: relative;
  text-align: center;
  color: #999999;
  font-size: 11px;
}

.footer:after {
  height: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  background: url('../i/footer-cubics.gif') no-repeat;
  background-size: 100% 7px;
}

.footer__social {
  min-height: 67px;
  margin-bottom: 20px;
  font-size: 0;
}

.footer__social-header {
  margin-bottom: 22px;
  font-size: 11px;
}

.footer__copy {
  padding-top: 17px;
}
/* footer */

/* header */
.header {
  background: #84003e;
  height: 57px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 120;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.header__logo {
  position: absolute;
  display: block;
  left: 12px;
  top: 14px;
  height: 31px;
  width: 164px;
  background: url('../i/logo.png') no-repeat;
  background-size: 100%;
}

.header__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 53px;
  height: 57px;
  z-index: 2;
  background: #a2004c;
}

.header__icon.hover-effect {
  background: #bf005a;
}

.header__icon-trigger {
  height: 17px;
  left: 17px;
  position: absolute;
  top: 20px;
  width: 21px;
  -webkit-backface-visibility:hidden;
}

.header__icon-trigger__bottom,
.header__icon-trigger__middle,
.header__icon-trigger__top {
  background-color:#fff;
  font-size:1px;
  height:3px;
  left:0;
  line-height:1px;
  overflow:hidden;
  position:absolute;
  -webkit-transform-origin:center center;
  -ms-transform-origin:center center;
  transform-origin:center center;
  -webkit-transform:translate(0,0)rotate(0);
  -ms-transform:translate(0,0)rotate(0);
  transform:translate(0,0)rotate(0);
  width:21px;
  -webkit-backface-visibility:hidden;
}

.header__icon-trigger__bottom,
.header__icon-trigger__top {
  -webkit-transition:-webkit-transform .25s cubic-bezier(.35,0,.25,1) .2s;
  transition:transform .25s cubic-bezier(.35,0,.25,1) .2s;
}

.header__icon-trigger__top {
  top:0;
}

.header__icon-trigger__middle {
  -webkit-transition:opacity .45s cubic-bezier(.35,0,.25,1) 0s,-webkit-transform .45s cubic-bezier(.35,0,.25,1) 0s;
  transition:opacity .45s cubic-bezier(.35,0,.25,1) 0s,transform .45s cubic-bezier(.35,0,.25,1) 0s;
  top:7px;
  opacity:1;
}

.header__icon-trigger__bottom {
   bottom: 0;
}

.header__city {
  position: absolute;
  right: 68px;
  top: 0px;
  font-size: 11px;
  color: #fff;
  height: 57px;
  white-space: nowrap;
}

.header__city.hover-effect {
  background: transparent;
  color: #efefef;
}

.header__city .fa {
  vertical-align: middle;
  margin: 0px 4px 0 0;
  line-height: 57px;
}

.header__city .form-select__txt {
  overflow: visible;
}

.header__city .form-select__txt span {
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

@media screen and (max-width: 359px) {
  .header__city {
    max-width: 70px;
  }
}
/* header */

/* map overlay */
.map-popup {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  display: none;
}

.open-map .map-popup {
  display: block;
}
/* map overlay */

/* sidebar menu */
.sidebar-menu {
  position: fixed;
  -webkit-transform: translate(258px,0);
  -ms-transform: translate(258px,0);
  transform: translate(258px,0);
  -webkit-transition: all .25s cubic-bezier(.35,0,.25,1);
  transition: all .25s cubic-bezier(.35,0,.25,1);
  visibility: hidden;
  top: 0px;
  bottom: 0px;
  right: 0;
  -webkit-perspective: 1000;
  z-index: 115;
  -webkit-overflow-scrolling: touch;
  width: 258px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #84003e;
}

.sidebar-menu:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 219px;
  background: url('../i/menu-cubics.png?2') no-repeat;
  background-size: 100%;
}

.sidebar-menu__list {
  padding-top: 57px;
  position: relative;
  z-index: 2;
  background-color: #84003e;
}

.sidebar-menu__item {
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 12px 45px 12px 23px;
  border-top: 1px solid #a0004b;
  font-weight: 700;
}

.sideba-menu__item:first-child {
  border-top: 0;
}

.sidebar-menu__item .fa {
  position: absolute;
  right: 19px;
  top: 13px;
}

.sidebar-menu__item.hover-effect {
  background-color: #9e004a;
}

.open-sidebar .overlay {
  -webkit-transition: visibility 0s linear 0s,opacity .25s ease-in 0s;
  transition: visibility 0s linear 0s,opacity .25s ease-in 0s;
  opacity: 0.5;
  visibility: visible
}

.open-sidebar .sidebar-menu {
  -webkit-transform:translate(0,0);
  -ms-transform:translate(0,0);
  transform:translate(0,0);
  visibility:visible;
}

.open-sidebar .header__icon-trigger__bottom {
  -webkit-transform:translate(0,-6px)rotate(-45deg);
  -ms-transform:translate(0,-6px)rotate(-45deg);
  transform:translate(0,-6px)rotate(-45deg);
}

.open-sidebar .header__icon-trigger__middle {
  opacity:0;-webkit-transform:scaleX(0);
  -ms-transform:scaleX(0);transform:scaleX(0);
  -webkit-transform-origin:center center;
  -ms-transform-origin:center center;
  transform-origin:center center;
}

.open-sidebar .header__icon-trigger__top {
  -webkit-transform:translate(0,8px)rotate(45deg);
  -ms-transform:translate(0,8px)rotate(45deg);
  transform:translate(0,8px)rotate(45deg);
}
/* sidebar menu */

/* social icons */
.social {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin: 0 7px 0 8px;
  width: 34px;
  height: 34px;
  background: #3b5999;
  text-align: center;
  line-height: 34px;
  color: #fff !important;
  vertical-align: top;
  font-size: 20px;
  text-decoration: none;
}

.social__item--vk {
  background: #3f83c1;
}
.social__item--tw {
  background: #1b95e0;
}

.social__item--youtube {
  background: #de2626;
}

.social__item--instagram {
  background: #3b698f;
}

.social__item--ok {
  background: #ffa930;
}

.social__item.hover-effect {
  opacity: 0.8;
}
/* social icons */

/* clinics list */
.clinics-list .header1 {
  color: #808080;
  text-align: center;
}

.clinics-list__item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: #fff;
}

.clinics-list__pic {
  height: 200px;
  overflow: hidden;
  background: #efefef;
  margin-bottom: 13px;
  display: block;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clinics-list__pic img {
  position: absolute;
  left: -1000em;
}

@media screen and (min-width: 500px) {
  .clinics-list__pic {
    height: 400px;
  }
}

.clinics-list__name {
  text-decoration: none;
  line-height: 1.2;
  font-size: 17px;
  display: block;
  padding: 0 10px 9px 10px;;
  font-family: 'cocon-regularregular';
}

.clinics-list__phone {
  color: #000;
  font-weight: 700;
  padding: 0 10px 6px 10px;
}

.clinics-list__phone a {
  color: #000;
  text-decoration: none;
}

.clinics-list__phone-item {
  display: block;
  margin-bottom: 3px;
}

.clinics-list__phone-item .phone-note {
  display: inline-block;
  font-weight: 400;
  color: #999999;
  vertical-align: top;
  padding-top: 2px;
  margin-right: -10px;
}

.clinics-list__address {
  color: #999999;
  font-size: 11px;
  padding: 0 10px 0 10px;
  line-height: 1.1;
}

.clinics-list__items {
  margin-bottom: 16px;
}
/* clinics list */

/* filter */
.filter {
  padding-top: 5px;
  margin-bottom: 23px;
}

.filter__item {
  margin-bottom: 7px;
}
/* filter */

/* doctors list */
.doctors-list {
  line-height: 1;
}

.doctors-list__reviews {
  float: right;
  margin-left: 10px;
}
/* doctors list */

/* pager */
.pager {
  font-size: 0;
  margin: 0 -2%;
  padding-top: 5px;
  margin-bottom: 10px;
  line-height: 1;
}

.pager__item {
  display: inline-block;
  width: 46%;
  margin: 0 2%;
}

.pager a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: center;
}

.pager a.hover-effect {
  background: #e0e0e0;
}
/* pager */

/* news list */
.news-list__item {
  margin-bottom: 30px;
}

.news-list__pic {
  height: 162px;
  overflow: hidden;
  background: #efefef;
  margin-bottom: 12px;
  display: block;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-list__end {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  font-size: 11px;
  color: #2f2b2d;
  background: #ffd800;
  line-height: 23px;
  display: block;
}
.news-list__end--soon {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  font-size: 11px;
  color: #fff;
  background: #e93e1c;
  line-height: 23px;
  display: block;
}

.news-list__pic img {
  position: absolute;
  left: -1000em;
}

@media screen and (min-width: 500px) {
  .news-list__pic {
    height: 240px;
  }
}

.news-list__name {
  line-height: 1.2;
  display: block;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 10px;
}

.news-list__txt {
  font-size: 11px;
  line-height: 1.1;
}
/* news list */

/* link back */
.back {
  display: block;
  margin-bottom: 25px;
  color: #fff !important;
  text-decoration: none;
  background: #a5245b;
  line-height: 1.2;
  font-size: 16px;
  padding: 7px 10px 8px 40px;
  position: relative;
}

.back.hover-effect {
  background: #dd4988;
}

.back .fa {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 14px;
}

.back-folder {
  position: relative;
  padding-left: 24px;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.back-folder.hover-effect {
  color: #820138;
}

.back-folder .fa {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  font-size: 18px;
  text-align: center;
  line-height: 14px;
}
/* link back */

/* content scroll */
.content-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
 }
/* content scroll */

/* book form */
.book {
  position: relative;
  display: none;
}

.book__content {
  position: relative;
}

.book__close {
  position: absolute;
  padding: 10px;
  right: -15px;
  top: -15px;
  font-size: 16px;
  color: #a5245b;
  z-index: 5;
}

.book__close.hover-effect {
  background: #efefef;
}

.book__to {
  margin-bottom: 15px;
  font-size: 11px;
  display: inline-block;
  padding-right: 30px;
}

.book__to-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 7px;
}

.book__input {
  margin-bottom: 7px;
}

.book__note {
  color: #999999;
  line-height: 1.1;
  font-size: 11px;
  padding-right: 30px;
}

.book__captcha {
  margin-bottom: 15px;
  padding-top: 10px;
}

.book__captcha img {
  margin-right: 3%;
  float: left;
  height: 34px;
  width: auto;
}

.book__captcha-input {
  overflow: hidden;
}

.book__button {
  text-align: center;
  margin-bottom: 30px;
}

.book__error {
  text-align: center;
  margin-bottom: 12px;
  color: #a5245b;
  font-size: 11px;
}

.book__success-button {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.book__success-button .button {
	min-width: 155px;
}
/* book form */

/* select clinics */
.select-clinic__note {
  margin-bottom: 20px;
  padding-top: 10px;
  line-height: 1.2;
}
/* select clinics */

/* news detail */
.news-detail {
  margin-bottom: 15px;
}

.news-detail__pic {
  overflow: hidden;
  background: #efefef;
  margin-bottom: 12px;
  display: block;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-detail__end {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  font-size: 11px;
  color: #2f2b2d;
  background: #ffd800;
  line-height: 23px;
  display: block;
}

.news-detail__pic img {
  display: block;
  width: 100%;
}

.news-detail__name {
  line-height: 1.2;
  display: block;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
}

.news-detail__txt {
  line-height: 1.2;
}

.news-detail__txt p {
  line-height: 1.2;
}

.news-detail__txt a font {
  color: #a5245b;
}

.news-detail__date {
  font-size: 9px;
  margin-bottom: 10px;
  color: #808080;
}

.news-detail__clinics {
  padding-top: 15px;
}

.news-detail__clinics p {
  margin-bottom: 8px;
}

.news-detail__clinics a {
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 8px;
  line-height: 1.1;
}

.news-detail__clinics a:before {
  display: block;
  content: '-';
  position: absolute;
  left: 0;
  top: -1px;
}

.news-detail__doctors {
  padding-top: 15px;
}

.news-detail__doctors p {
  margin-bottom: 8px;
}

.news-detail__doctors a {
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 8px;
  line-height: 1.1;
}

.news-detail__doctors a:before {
  display: block;
  content: '-';
  position: absolute;
  left: 0;
  top: -1px;
}
/* news detail */

/* clinic page */
.clinic__contacts {
  margin-bottom: 20px;
}

.clinic__contacts-address {
  margin-bottom: 13px;
  line-height: 1.2;
  padding-right: 30px;
}

.clinic__contacts-address__map {
  color: #a5245b;
  font-weight: 700;
  display: inline-block;
  padding-top: 4px;
}

.clinic__contacts-address__map:hover {
  text-decoration: underline;
}

.clinic__contacts-address__map .fa {
  font-size: 18px;
  margin-bottom: -6px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: top;
}

.clinic__contacts-button {
  margin-top: -17px;
  top: 50%;
  right: 0;
  position: absolute;
  z-index: 5;
  width: 55%;
  padding: 7px 7px 4px;
  line-height: 1.6;
  max-width: 160px;
}

.clinic__contacts-phone {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 14px;
  position: relative;
  padding-right: 145px;
  width: 100%;
}

@media screen and (max-width: 318px) {
  .clinic__contacts-button {
    width: 100px;
    margin-top: -26px;
  }

  .clinic__contacts-phone {
    padding-right: 110px;
  }
}

.clinic__contacts-phone a {
  color: #333;
  text-decoration: none;
}

.clinic__contacts-phone__item {
  display: block;
  margin-bottom: 3px;
}

.clinic__menu {
  margin-bottom: 18px;
}

.clinic__menu-item,
.clinic__menu-more {
  display: block;
  margin-bottom: 4px;
  color: #fff !important;
  text-decoration: none;
  background: #a5245b;
  line-height: 1.2;
  font-size: 16px;
  padding: 7px 25px 8px 11px;
  position: relative;
}

.clinic__menu-item.hover-effect {
  background: #9e004a;
}

.clinic__menu-item .fa,
.clinic__menu-more .fa {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 14px;
}

.clinic__menu-more {
  background: #fff;
  border: 1px solid #a5245b;
  color: #a5245b !important;
  padding-top: 5px;
  padding-bottom: 8px;
}

.clinic__menu-more.hover-effect {
  background: #e0e0e0;
}

.clinic__menu-item--select_color {
  color: #ffca27 !important;
  font-weight: 700;
}

.clinic__menu-item--select_color .fa {
  color: #fff !important;
}

.clinic__social {
  white-space: nowrap;
}

.clinic__social-icons {
  display: inline-block;
  vertical-align: middle;
}

.clinic__social-icons .social__item {
  margin: 0 5px;
}

@media screen and (max-width: 340px) {
  .clinic__social-icons .social__item {
  margin: 0 3px;
  }
}

.clinic__social {
  margin-bottom: 16px;
}

.clinic__schedule {
  margin-bottom: 22px;
}

.clinic__schedule-header {
  font-weight: 700;
  margin-bottom: 10px;
}

.clinic__schedule-link {
  display: block;
  position: relative;
  text-decoration: none;
  margin-bottom: 9px;
  padding-left: 18px;
}

.clinic__schedule-link .fa {
  position: absolute;
  left: 0;
  top: 2px;
}

.clinic__about font[color="#ee1d24"] {
  color: #a5245b;
}

.clinic__about-header {
  font-weight: 700;
  margin-bottom: 16px;
}

.clinic__about iframe {
  width: 100% !important;
  height: 300px !important;
}

@media screen and (max-width: 360px) {
  .clinic__about iframe {
    height: 200px !important;
  }
}

.clinic__schedule-table {
  width: 100%;
  margin-bottom: 20px;
}

.clinic__schedule-table td {
  padding: 4px 8px;
  text-align: center;
  color: #2f2b2d;
  line-height: 1.2;
  border: 1px solid #999999;
}

td.clinic__schedule-table__desc {
  text-align: left;
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.clinic__subneader {
  font-weight: 400;
  font-family: 'cocon-regularregular';
  font-size: 16px;
  margin-bottom: 17px;
}
/* clinic page */

/* clinic program */
.clinic__prorgam-select {
  margin-bottom: 23px;
}

.clinic__prorgam-item {
  margin-bottom: 18px;
  font-size: 16px;
}

.clinic__prorgam-title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
}

.clinic__prorgam-subtitle {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
  padding-top: 5px;
}

.clinic__prorgam-link {
  padding: 8px 0;
  border-top: 1px solid #e0e0e0;
  display: block;
  text-decoration: none;
}

.clinic__prorgam-link:first-child {
  border-top: 0;
}

.clinic__prorgam-link.hover-effect {
  background: #f4f4f4;
}

.clinic__prorgam-cost {
  float: right;
  margin-left: 5px;
  color: #999999;
  font-size: 13px;
  margin-top: 3px;
}

.clinic__prorgam-name {
  overflow: hidden;
  display: block;
}

.clinic__prorgam-content {
  padding-top: 10px;
}

.clinic__prorgam-content table.web-table {
  margin-bottom: 15px;
}

.clinic__prorgam-content table.web-table td:first-child,
.clinic__prorgam-content table.web-table th:first-child {
  padding-right: 15px;
}

.clinic__prorgam-content table.web-table th:last-child {
  text-align: center !important;
}

.programm-label {
    background: #e83e1d none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    margin-left: 2px;
    padding: 0 6px;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
}

.programm-label--deposit {
    background: #95117f;
}

.program-label-note {
  padding: 15px 15px 0;
  background: #f5f5f5;
  margin: 0 -15px -20px -15px;
}

.program-label-note .programm-label {
    margin-left: 0px;
}

.program-label-note__txt {
  padding: 5px 0 20px 0;
}
/* clinic program */

/* clinic price */
.price__item {
	margin-bottom: 10px;
}

.price__head {
	position: relative;
	line-height: 1.2;
	font-weight: 700;
	padding-left: 23px;
	color: #a5245b;
	font-size: 16px;
	margin-bottom: 12px;
}

.price__head.hover-effect {
	color: #830e40;
}

.price__head-switch {
	border-style: solid;
	border-width: 1px;
	border-color: inherit;
  font-weight: 400;
  height: 17px;
  left: 0;
  line-height: 15px;
  padding-left: 1px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 17px;
}

.price__list-items {
	margin-bottom: 10px;
}

.price__list-item {
	padding: 7px 0;
	border-top: 1px solid #e0e0e0;
}

.price__list-item:first-child {
	border-top:0;
}

.price__list-cost {
	float: right;
	text-align: right;
	margin-left: 10px;
	line-height: 1.1;
}

.price__list-name {
	line-height: 1.1;
	overflow: hidden;
}

.price__list-head {
	font-weight: 700;
	margin-bottom: 5px;
}
/* clinic price */

/* clinic gallery */
.gallery__item {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
	font-weight: 700;
}

.gallery__item.hover-effect {
	color: #830e40;
}

.gallery__item.hover-effect .gallery__pic {
	opacity: 0.9;
}

.gallery__pic {
  height: 200px;
  overflow: hidden;
  background: #efefef;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__pic img {
  position: absolute;
  left: -1000em;
}

@media screen and (min-width: 500px) {
  .gallery__pic {
    height: 500px;
  }
}

.gallery__name {
	display: block;
}

.gallery-detail__item {
	margin-bottom: 15px;
	display: block;
  text-decoration: none;
  position: relative;
}

.gallery-detail__item figure {
  display: none;
}

.gallery-detail__item img {
	width: 100%;
	display: block;
}

.gallery-detail__item .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -32px 0 0 -32px;
  font-size: 64px;
}
/* clinic gallery */

/* map */
.map__content {
  position: relative;
}

.map__container {
  min-height: 300px;
}

.map__close {
  position: absolute;
  padding: 10px;
  right: -15px;
  top: -15px;
  font-size: 16px;
  color: #a5245b;
}

.map__close.hover-effect {
  background: #efefef;
}

.map__adrres {
  line-height: 1.2;
  padding-right: 30px;
}

.baloon-map {
    font-family: 'Roboto', sans-serif;
}

.baloon-map__head {
  font-weight: 700;
  margin-bottom: 5px;
}
/* map */

/* doctor card */
.doctors-list .doctor-card {
  margin-bottom: 30px;
}

.doctor-card__left {
  float: left;
  width: 120px;
  margin-right: 13px;
  position: relative;
  z-index: 2;
}

.doctor-card__pic {
  display: block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  background-color: #f2f2f2;
  position: relative;
  margin-right: -120px;
}

.doctor-card__pic.hover-effect {
	opacity: 0.9;
}

@media screen and (max-width: 320px) {
  .doctor-card__left {
    width: 80px;
  }
  .doctor-card__pic {
    width: 80px;
    height: 80px;
  }
}

.doctor-card__pic:after {
  background: #000 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.05;
  position: absolute;
  top: 0;
  width: 100%;
}

.doctor-card__right {
  padding-left: 133px;
}

@media screen and (max-width: 320px) {
  .doctor-card__right {
    padding-left: 93px;
  }
}

@media screen and (max-width: 340px) {
  .doctor-card__right .button {
  	padding-left: 0;
  	padding-right: 0;
  	display: block;
  	white-space: nowrap;
  }
}

.doctor-card__name {
  display: block;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.doctor-card__spec {
  margin-bottom: 10px;
}

.doctor-card__clinics {
  font-size: 11px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.doctor-card__clinics p {
	margin-bottom: 10px;
}

.doctor-card__reviews {
  background: #999999 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 9px;
  line-height: 14px;
  min-width: 22px;
  padding: 1px 5px 0;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.doctor-card__reviews:after {
  display: block;
  content: '';
  left: 50%;
  top: 100%;
  position: absolute;
  margin-left: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: #999999 transparent transparent;
}

.doctor-card__tab {
  float: right;
  text-decoration: none;
  margin-top: 3px;
  color: #a5245b;
  position: relative;
  z-index: 2;
}

.doctor-card__tab .doctor-card__reviews {
  margin-right: 5px;
  background: #a5245b;
  vertical-align: top;
}

.doctor-card__tab .doctor-card__reviews:after {
  border-color: #a5245b transparent transparent;
}

.doctor-info {
  padding-top: 20px;
}

.doctor-info__item {
  margin-bottom: 15px;
}
/* doctor card */

/* doctor reviews */
.doctor-reviews {
  padding-top: 20px;
}

.doctor-reviews__header {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.doctor-reviews__header .doctor-card__reviews {
  vertical-align: top;
  margin-top: 3px;
  margin-left: 2px;
}

.doctor-reviews__item {
  margin-bottom: 5px;
}

.doctor-reviews__date {
  font-size: 11px;
  color: #999999;
  margin-bottom: 3px;
}

.doctor-reviews__author {
  font-size: 11px;
  color: #999999;
  padding-top: 5px;
  font-style: italic;
  text-align: right;
}
/* doctor reviews */

/* reviews */
.reviews__item {
  margin-bottom: 28px;
}

.reviews__doctor {
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  font-size: 0;
}

.reviews__doctor-pic {
  background-color: #f2f2f2;
  border-radius: 100%;
  display: inline-block;
  height: 54px;
  margin: 0 -54px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 54px;
}

.reviews__doctor--size_small .reviews__doctor-pic {
  width: 35px;
  height: 35px;
}

.reviews__doctor-pic:after {
  background: #000 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.05;
  position: absolute;
  top: 0;
  width: 100%;
}

.reviews__doctor-info {
  display: inline-block;
  font-size: 13px;
  margin-top: -5px;
  overflow: hidden;
  padding-left: 65px;
  padding-top: 3px;
  vertical-align: middle;
  width: 100%;
}

.reviews__doctor-date {
  display: block;
  color: #999999;
  font-size: 11px;
  margin-bottom: 5px;
}

.reviews__doctor-name {
  font-weight: 700;
  line-height: 1.1;
  display: block;
}

.reviews__txt {
  line-height: 1.1;
}

.reviews__txt * {
  line-height: 1.1;
}

.reviews__author {
  text-align: right;
  font-style: italic;
  color: #999999;
  font-size: 11px;
  padding-top: 2px;
}
/* reviews */

/* static content tabs clinic */
.clinic__webinars table.web-table th:first-child,
.clinic__webinars table.web-table td:first-child {
  display: none;
}

.clinic__pregancy table.web-table th {
  min-width: 100px;
}

iframe {
  width: 100% !important;
  height: 300px !important;
}

#krpanoSWFObject {
  width: 200px !important;
}

@media screen and (max-width: 360px) {
  iframe {
    height: 200px !important;
  }
}

.clinic__skype table td {
  display: block;
}

.clinic__skype table td td {
  display: table-cell;
}

.clinic__doctorsbest img {
  display: block;
  margin: 0 auto;
  float: none;
}

.clinic__staticimg img {
  display: block;
  margin: 0 auto 10px !important;
  float: none;
}

.table-leading td {
  display: block;
}

.table-leading img {
  display: block;
  margin: 0 auto;
  float: none;
}
/* webinars */

/* services */
.services__item {
  margin-bottom: 10px;
}

.services__head {
  position: relative;
  line-height: 1.2;
  font-weight: 700;
  padding-left: 23px;
  color: #a5245b;
  font-size: 16px;
  margin-bottom: 12px;
}

.services__head.hover-effect {
  color: #830e40;
}

.services__head-switch {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  font-weight: 400;
  height: 17px;
  left: 0;
  line-height: 15px;
  padding-left: 1px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 17px;
}

.services__content {
  margin-bottom: 20px;
}

.services__content .button01 {
  padding: 1px 10px 0 !important;
  margin: 0 5px 10px;
}

.services__content-txt {
  margin-bottom: 10px;
}

.services__content-txt .rt-points {
  display: none;
}

.services__content-txt img {
  width: 100% !important;
  height: auto !important;
  float: none !important;
  margin: 0 !important;
}

.services__content-txt span,
.services__content-txt font,
.services__content-txt p {
  font-size: 13px !important;
  line-height: 1.2 !important;
  font-family: 'Roboto', sans-serif !important;
}

.services__content-links {
  margin-left: 13px;
}

.services__content-links a {
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
  position: relative;
  padding-left: 13px;
  font-size: 16px;
}

.services__content-links a.hover-effect {
  color: #830e40;
}

.services__content-links .fa {
  font-size: 10px;
  left: 0;
  position: absolute;
  top: 6px;
}
/* services price */

/* banner virtual tour */
.banner-virtualtour {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

@media screen and (max-width: 460px) {
  .banner-virtualtour {
      height: 65px;
  }

  .banner-virtualtour img {
      height: 100%;
      margin: 0 auto;
      max-width: none;
      width: auto;
  }
}
/* banner virtual tour */
/* lapino label */
.lapino-mkad {
  background: #e14326;
  border-radius: 100%;
  color: #fff !important;
  display: inline-block;
  font-size: 10px;
  font-weight: 200;
  height: 55px;
  line-height: 1.1;
  margin-bottom: -30px;
  margin-top: -30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 55px;
  margin-left: 20px;
}

a.lapino-mkad:hover {
  background: #c42609;
  text-decoration: none !important;
}

.lapino-mkad__time {
  display: block;
  font-size: 11px;
  font-weight: 700;
  padding-top: 12px;
}

.lapino-mkad__time span {
  font-size: 14px;
  padding-right: 1px;
}

.lapino-contacts-road {
  padding: 15px;
  overflow: hidden;
  background: #efefef;
}

.lapino-contacts-road .lapino-mkad {
  float: right;
  margin: 14px 0 15px 8px;
}
/* lapino label */

/* banner content eko */
.content-banner-eko {
  margin-bottom: 15px;
  border: 2px solid #a5245b;
  text-align: center;
  color: #fff;
  display: block;
  text-decoration: none;
}

.content-banner-eko__head {
  background: #a5245b;
  line-height: 22px;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-family: 'cocon-regularregular', 'PT Sans', Arial, sans-serif;
}

.content-banner-eko__txt {
  padding: 6px;
  display: block;
  color: #a5245b;
  font-size: 14px;
  text-transform: lowercase;
}
/* banner content eko */

/* instructions */
.instructions {
  padding-top: 10px;
}

.instructions__item {
  display: block;
  margin-bottom: 30px;
  padding-left: 35px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: #333333;
  font-size: 15px;
}

.instructions__ico {
  border: 1px solid #e93e1c;
  color: #e93e1c;
  font-size: 11px;
  left: 0;
  line-height: 28px;
  height: 28px;
  padding-top: 1px;
  position: absolute;
  text-align: center;
  top: -6px;
  width: 24px;
  display: block;
  border-radius: 3px;
  font-weight: 300;
}
/* instructions */