a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.search-page__tabs {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.search-page__tabs-item {
	background: #941369;
	color: #fff;
	cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
    padding: 8px 11px;
}

.search-page__tabs-item--active {
	background: #ffc600;
	color: #000;
}

.search-page .search-block {
	width: 100%;
	border: 1px solid #666666;
	box-shadow: none;
	background: transparent;
}

.search-page .search-block .text02 {
	float: none;
	overflow: hidden;
	width: auto;
}

.search-page .search-block .text02 input {
	color: #000;
}

.search-page__item {
	margin-bottom: 45px;
	font-size: 16px;
}

.search-page__title {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

.search-page__form {
	margin-bottom: 30px;
}

.search-page__sort {
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
}

.search-page__sort-item {
	display: inline-block;
	margin-right: 10px;
	background: #efefef;
	padding: 3px 10px 5px;
}