div.mfeedback .jq-selectbox, div.mfeedback .jq-selectbox__dropdown {width: 100% !important;}
div.mfeedback .jq-selectbox__dropdown li {white-space: normal !important;}
div.mfeedback select {width: 100%;}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:90%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}