/*Menu icon*/
#blog_menu_icon {background-image:url(icons/blog/mnu_blog.gif);}
#blog_page_icon {background-image:url(icons/blog/page_blog.gif);}
/*Menu icon*/
#catalog_menu_icon {background-image:url(icons/catalog/mnu_catalog.gif);}
#catalog_page_icon {background-image:url(icons/catalog/title.gif);}

/*Float form*/
div.float-form {position:absolute; background-color:#F8F9FC; border:1px solid #B8C1DD; padding:5px; z-index:2;}
div.float-form td {font-size:70%; padding:3px; white-space:nowrap;}
div.float-form div.data {width:400px; height:300px; overflow:scroll; font-size:70%; background-color:white; margin-bottom:5px; border:1px solid #B8C1DD; padding:5px;}
div.float-form-shadow {position:absolute; background-color:#797979; z-index:1; opacity: 0.5; filter: alpha(opacity=50);}

.clouds-directory-icon
{
	background-position: center -118px;
}
.clouds-up-icon
{
	background-position: center -1574px;
}
/*Menu icon*/
#currency_menu_icon {background-image:url(icons/currency/mnu_currency.gif);}
#currency_page_icon {background-image:url(icons/currency/title.gif);}
/*Menu icon*/
#fileman_menu_icon {background-image:url(icons/fileman/mnu_fileman.gif);}
#fileman_page_icon {background-image:url(icons/fileman/title.gif);}
#fileman_menu_icon_sections {background-image:url(icons/fileman/mnu_folder.gif);}
#fileman_menu_page_icon_sections {background-image:url(icons/fileman/title_folder.gif);}
#fileman_sticker_icon{background-image:url(icons/fileman/mnu_stickers.gif);}
#fileman_sticker_icon_sections{background-image:url(icons/fileman/title_stickers.gif);}

/* New Icons */

.fileman_icon_folder_up
{
	background-position:center -1573px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.fileman_icon_folder
{
	background-position: center -117px;
	width: 16px;
	height: 16px;
	display: inline-block;
}


/*Toolbar*/
#btn_new_folder {background-image:url(icons/fileman/new_folder.gif);}
#btn_new_file {background-image:url(icons/fileman/new_file.gif);}
#btn_new_menu {background-image:url(icons/fileman/new_menu.gif);}
#btn_upload {background-image:url(icons/fileman/upload.gif);}
#btn_download {background-image:url(icons/fileman/download.gif);}
#btn_folder_prop {background-image:url(icons/fileman/folder_prop.gif);}
#btn_rename {background-image:url(images/popup/rename.gif);}
#btn_fileman_search {background-image:url(icons/fileman/find.gif);}

/*Medialib*/
#btn_ml_add_element {background-image:url(icons/fileman/ml_add_element.gif);}
#btn_ml_add_elements {background-image:url(icons/fileman/ml_add_elements.gif);}

td.popupmenu div.popupitem div.btn_fileman_html {background-image:url(icons/fileman/html.gif);}
td.popupmenu div.popupitem div.btn_fileman_galka {background-image:url(icons/fileman/galka.gif);}
td.popupmenu div.popupitem div.btn_fileman_php {background-image:url(icons/fileman/php.gif);}
td.popupmenu div.popupitem div.btn_fileman_text {background-image:url(icons/fileman/text.gif);}
td.popupmenu div.popupitem div.btn_fileman_view {background-image:url(icons/fileman/view.gif);}
td.popupmenu div.popupitem div.btn_fileman_prop {background-image:url(icons/fileman/folder_prop.gif);}
td.popupmenu div.popupitem div.access {background-image:url(images/popup/access.gif);}
td.popupmenu div.popupitem div.rename {background-image:url(images/popup/rename.gif);}
td.popupmenu div.popupitem div.btn_download  {background-image:url(icons/fileman/download.gif);}

/*Common actions icons */
td.popupmenu div.popupitem div.edit {background-image:url(images/popup/edit.gif);}
td.popupmenu div.popupitem div.copy {background-image:url(images/popup/copy.gif);}
td.popupmenu div.popupitem div.delete {background-image:url(images/popup/delete.gif);}
td.popupmenu div.popupitem div.view {background-image:url(images/popup/view.gif);}
td.popupmenu div.popupitem div.checked {background-image:url(images/checkbox.gif);}
td.popupmenu div.popupitem div.list {background-image:url(images/buttons/list.gif);}
td.popupmenu div.popupitem div.new {background-image:url(images/buttons/new.gif);}
td.popupmenu div.popupitem div.add {background-image:url(images/buttons/new.gif);}
td.popupmenu div.popupitem div.favorites {background-image:url(images/popup/favorite.gif);}
td.popupmenu div.popupitem div.copy{background-image:url(images/popup/copy.gif);}
td.popupmenu div.popupitem div.move{background-image:url(icons/fileman/move.gif);}
td.popupmenu div.popupitem div.pack {background-image:url(images/popup/pack.gif);}
td.popupmenu div.popupitem div.unpack {background-image:url(images/popup/unpack.gif);}

.jserror {color:#FF0000; font-weight:bold;}

/*Calendar float form*/
div.editor_dialog {width:200px;background-color:#F4F4F4;border:1px solid #A9A9A9;}
div.editor_dialog td {padding:0px; font-size:70%;}
div.editor_dialog div.content {height:100%; overflow:hidden;}

/*title*/
div.editor_dialog div.title {background-color:#23468A; background-image:url(images/fileman/editor_dialog/title_bg.gif); background-repeat:repeat-x; background-position:left top; border-bottom:1px solid #A9A9A9;}
div.editor_dialog div.title td.title-text {font-size:70%; font-weight:bold; color:#EEF1F7; padding:3px; cursor:move; vertical-align:top;}
div.editor_dialog a.close {display:block; width:13px; height:13px; background-image:url(images/fileman/editor_dialog/close.gif); overflow:hidden; margin:3px; background-repeat:no-repeat; background-position:center;}

tr.heading_dialog td {color:#525355; text-align:center; font-weight:bold; background-color:#E0E4F1;}

table.dialogprops tr td{padding: 5px 0px 5px 0px;}

/* Options medialib types*/
div.bx-ml-type-params adm-detail-content-cell-r {text-align: left;}
div.bx-ml-type {margin-top: 8px; width: 100%;}
div.bx-ml-type div.bx-ml-type-label{padding: 0 5px; background: #E0E8EA; font-weight: bold; text-align: left; color: #525355; height: 27px;}
div.bx-ml-type div.bx-ml-type-params{float: none;}

div.bx-ml-type-params table{border-collapse: collapse;}
.bx-firefox div.bx-ml-type-params table{border-collapse: collapse; display: inline;}

div.bx-ml-type-params table td{padding: 7px 7px 0 0; color: #525355; height: 26px; text-align: left;}
div.bx-ml-type-params table td.bx-ml-td-left{text-align: right; padding-top: 5px; vertical-align: middle;}
a.bx-ml-type-del{display: block; float: right; margin:6px 5px 0 0;color: #525355; padding-left: 20px; font-weight: normal !important;}
a.bx-ml-type-restore{display: block; float: right; margin:6px 5px 0 0; color: #808080 !important; font-weight: normal !important;}
span.bx-sys-value{color: #000;}
div.bx-ml-type-label div {padding: 3px; float: left; margin: 4px; cursor: default;}

div.bx-ml-editable{white-space: nowrap;}
table.edit-table-ml-hidden tr.bx-ml-hidden-row{display: none !important;}
div.bx-ml-type div.bx-ml-type-label input{margin-top: 2px;}
div.bx-ml-type div.bx-ml-type-label-deleted{display: none; padding: 0 5px; background: #E9EAF0; font-weight: bold; text-align: left; color: #525355; height: 27px;}
div.bx-ml-type-label-deleted div{padding: 3px; float: left; margin: 4px; color: #808080 !important; text-decoration: line-through !important;}
div.bx-ml-type-deleted div.bx-ml-type-label-deleted{display: block !important;}
div.bx-ml-type-deleted div.bx-ml-type-label{display: none !important;}
div.bx-ml-type-deleted div.bx-ml-type-params{display: none !important;}

/* Fileman dialogs search, replace*/
div.bx-fm-dialog table.edit-form tr.top, div.bx-fm-dialog table.edit-form tr.bottom{display: none !important;}
div.bx-fm-dialog table.edit-form tr td.left, div.bx-fm-dialog table.edit-form tr td.right{display: none !important;}
/*
div.bx-fm-dialog table.edit-form tr td.title{display: none !important;}
div.bx-fm-dialog table.edit-form tr td.delimiter{display: none !important;}
*/
div.bx-fm-dialog div.edit-form{margin: 0 !important;}

div.bx-fm-dialog table.edit-form td.content{padding:7px 5px 5px !important;}

/* redefine some styles from window_core*/
div.bx-fm-dialog-tabed{overflow: visible !important;border-width: 0px !important;top: 0px !important;/*margin: 0px !important;*/}
div.bx-fm-dialog-tabed table{border-collapse: collapse;}
div.bx-fm-dialog-tabed table td{background-image: none; margin: 0px; padding: 0px;}
div.bx-fm-dialog-tabed table.edit-tab-title{display: none;}
div.bx-fm-dialog table{border-collapse: collapse;}
div.bx-fm-dialog table td{padding: 0px;}
table.bxfm-d-params{width: 99%; margin: 7px 0;}

.bx-fm-dialog-tabed .adm-detail-title, .bx-fm-dialog-tabed .adm-detail-content-btns-wrap{display: none !important;}
.bx-fm-dialog-tabed .adm-detail-content {padding: 0 !important;}
.bx-fm-dialog-tabed .adm-detail-content-item-block{border-style: none !important; padding: 0 !important;}

/* div.bx-fm-dialog-tabed div.bx-fm-dialog table.edit-tab table.bxfm-d-params td.bxfm-d-value{padding: 4px 0px !important; background-image: none !important;} */

div.bx-fm-dialog-tabed table.edit-table table.bxfm-d-params td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding: 4px 0 !important;}
div.bx-fm-dialog-tabed table.edit-table table.bxfm-d-params td.bxfm-d-value{text-align: left !important; width: 70%; padding: 4px 0 !important;}

table.bxfm-d-params td.bxfm-d-label label{margin: 4px 8px 0 8px; display: block;}
table.bxfm-d-params td.bxfm-d-label input{margin: 0 8px !important;}
table.bxfm-d-params-add-hide tr.bxfm-add-hide{display: none;}
table.bxfm-d-params-add-hide span.bxfm-d-span-hide{display: none;}
span.bxfm-d-span-hide{color: #000; font-size: 90%;}
table.bxfm-d-params a.bxfm-add-link{margin: 2px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}

div.bx-fm-dialog-tabed table.edit-tab tr.bxfm-d-title td{background-color: #EEEEEE !important; height: 22px;}

/* Input Select*/
div.bx-fm-dialog input.bxfm-is-inp, input.bxfm-is-inp{background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat; padding-right: 15px !important;}
div.bxfm-is-popup {
	background: #fff;
	border: 1px solid #D5E1E4;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
	position: absolute;
	width: 200px;
	display: none;
	top:20px;
	z-index:15;
	overflow: hidden;
	padding: 8px 0;
}

div.bxfm-is-item {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	list-style: none outside none;
	text-align: left;
	text-indent: 0;
	text-transform: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
	padding: 2px;
	cursor: pointer;
	color: #2A2A2A;
	border: none;
}
div.bxfm-is-item span.bxfm-highlighted{color: #000000 !important; font-weight: bold;}
div.bxfm-is-item-over{background-color:#ebf2f4;}
div.bxfm-d-adjust-div{display: none; margin: 2px 0 3px;}
div.bxfm-is-item-concur{background-color:#d9e0e2;}

div.bxfm-search-cont input{font-size: 13px !important;}
div.bxfm-search-cont tr.bxfm-d-only-replace{display: none !important;}
div.bxfm-replace-cont tr.bxfm-d-only-search{display: none !important;}

/* Search count dialog */
div.bxfm-count-res-div{margin: 8px; height: 18px; padding-top: 4px;}
div.bxfm-count-res-div span{font-size: 110%; font-weight: bold;}

div.bxfm-count-wait{background: url(/bitrix/themes/.default/images/wait.gif) no-repeat 190px 0 transparent;}
div.bxfm-search-res-div{margin: 5px 0 5px 5px; height: 20px;}
div.bxfm-search-res-div div.bxfm-wait-1{display: none;}
div.bxfm-wait div.bxfm-wait-1{display: block !important;background: url(/bitrix/themes/.default/images/wait.gif) no-repeat 0px 0 transparent;width: 20px;height: 20px;float: right;margin: -1px 3px 0 0;}

div.bxfm-search-res-div span{font-size: 110%; font-weight: bold;}
div.bxfm-search-res{border: 1px solid #DCE7ED;background-color: #FFFFFF; width: 415px; overflow: none;margin-top: 12px;display: none;}

div.bxfm-search-res div{margin: 3px 5px;}

div.bxfm-search-res table{border-collapse: collapse; width: 100%;}
div.bxfm-search-res table tr.bxfm-s-res-head td{background-color: #E2EBEE; font-weight: bold !important;}
div.bxfm-search-res table td{text-align: center;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-type{width: 25px;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-path{text-align: left;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-date{width: 140px;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-size{width: 60px;}

span.bxfm-rep-cnt, span.bxfm-search-cnt {font-weight: normal !important;}
span.bxfm-rep-cnt span{color: #f00; font-weight: bold;}
span.bxfm-search-cnt span{font-weight: bold;}

span.bxfm-only-for-phrase{display: none; font-weight: normal !important;}
div.bxfm-with-phrase span.bxfm-only-for-phrase{display: inline !important;}
.def-val{color: #808080;}
.bxfm-warn{font-weight: bold!important; color: #f00 !important; display: none;}
.bxfm-dialog-content{overflow: hidden !important;}

/* server permission dialog*/
div.bxfm-sperm-cont {margin: 5px; width: 530px; border:1px solid #E0E4F1;}
div.bx-fm-dialog-serv-perm{overflow: hidden !important;}

table.bxsp-tbl{border-collapse: collapse; margin: 5px 15px;}
table.bxsp-tbl td{background-image: none !important; padding: 0px !important;}
table.bxsp-tbl td.bxsp-label-cell{padding: 0 20px 0 6px !important;}
table.bxsp-tbl-2{border-collapse: collapse; margin-left: 12px;}
table.bxsp-tbl-2 td{background-image: none !important; padding: 0 3px 11px 3px !important;}

div.bx-s-perm-gr{height: 70px;}
div.bx-s-perm-gr div.bx-s-title{background-color: #E0E4F1; color: #525355; padding: 8px 20px; font-weight: bold;}
div.bx-s-perm-gr div.bx-s-check-gr{float: left; margin: 10px 15px;}

div.bx-s-set-recur{margin: 10px 15px;}
div.bx-s-res-val{padding: 8px 10px;}
div.bx-s-res-val label{font-weight: bold;}
span.bx-sp-cur-val {font-weight: bold; color: #000080;}

table.bxsp-file-list {border-collapse: collapse; margin: 5px; border:1px solid #E0E4F1;}
table.bxsp-file-list td {border-top: 1px dotted #E0E4F1 !important; padding: 5px 10px!important;}

table.bxsp-file-list tr.bxsp-header td{background-color: #E0E4F1; font-weight: bold; color: #525355 !important; border-bottom: 1px dotted #E0E4F1; border-top-width: 0px !important;}
table.bxsp-file-list tr td.bxsp-filename{}
table.bxsp-file-list tr td.bxsp-sub{padding-left: 30px!important;}
table.bxsp-file-list tr td.bxsp-value{text-align: center;}
table.bxsp-file-list tr td.bxsp-separator{}
table.bxsp-file-list-init td.bxsp-status{display: none !important;}
table.bxsp-file-list tr td.bxsp-status{color: #808080; font-weight: bold;}
.bxsp-green{color: #008000 !important;}
.bxsp-red{color: #ff0000 !important;}
div.bxsp-error-note {display: none; margin: 15px 5px;}
div.bxsp-error-note div.bxsp-file div{margin-left: 20px; font-weight: bold;}

/* Copy move dialog*/
div.bx-fm-copy-dialog{overflow: hidden !important;}
div.bx-copy-cont{margin: 5px;}
div.bx-fm-copy-dialog div.bx-copy-cont input{font-size: 13px !important; padding: 0 2px !important; height: 21px !important;}
div.bx-copy-cont {display: none;}
table.bx-copy-cont-tbl {border-collapse: collapse; width: 100%;}
table.bx-copy-cont-tbl td{padding: 0 !important;}
div.bx-copy-cont table.bx-copy-cont-tbl tr.bx-copy-d-title td{background-color: #E2EBEE !important; height: 22px;}
div.bx-copy-cont a.bx-copy-add-link{margin: 3px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}
span.bx-copy-d-span-hide{color:#000000; font-size:90%;}
div.bx-fm-copy-dialog table.bx-copy-cont-tbl td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding-bottom: 4px !important;}
div.bx-fm-copy-dialog div.bx-core-dialog-content{overflow: hidden!important;}

div.bx-fm-copy-dialog table.bx-copy-cont-tbl  td.bxfm-d-value{text-align: left !important; width: 70%; padding-bottom: 4px !important;}
div.bx-fm-copy-dialog table.bx-copy-cont-tbl td{background-image:none!important;}
table.bx-copy-cont-tbl td.bxfm-d-label label {display:block; margin:4px 8px 0;}
table.bx-copy-cont-tbl td.bxfm-d-value label {display:block; margin:0 0 0 8px;}
table.bx-copy-cont-tbl-add-hide tr.bxfm-add-hide{display: none;}
table.bx-copy-cont-tbl-add-hide span.bx-copy-d-span-hide{display: none;}

div.bx-copy-to-all{margin: 4px 45px; text-align: left !important;}
div.bx-copy-to-all table{border-collapse: collapse; }
div.bx-copy-to-all table td{padding: 0px; background-image: none!important;}

div.bx-core-dialog-foot-ask{padding-bottom: 2px !important;}
table.bx-copy-compare-tbl {margin: 0 20px; border-collapse: collapse;}
.bx-fm-copy-dialog table.bx-copy-compare-tbl td{padding: 4px 8px!important; background-color: #FFFFFF; border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3; background-image: none!important;}
table.bx-copy-compare-tbl tr.bx-copy-bottom td{border-bottom: 1px solid #E3E3E3;}

table.bx-copy-compare-tbl tr.bx-copy-title td {	font-weight: bold; padding: 4px 10px !important; background-color: #E2EBEE; border-color:#DCE7ED !important;}
table.bx-copy-compare-tbl tr.bx-copy-title td.bx-copy-sep-td{padding: 0!important; width: 15px; background-color: #F8F9FC!important; border-width: 0 !important;}

.bx-copy-name-cnt{position: relative; width: 200px; overflow: hidden; white-space: nowrap;}
.bx-copy-new-name{color: #606060; font-style:italic; position: absolute; top: 0px; left: 0px; background-color: #ffffff; width: 200px; font-weight: bold !important;}

.bxcnn-0{color: #FFFFFF!important; display: none;}
.bxcnn-1{color: #CCCCCC!important;}
.bxcnn-2{color: #808080!important;}

input.bx-quick-path{ font-size:12px; margin-top:2px;}

img.bxfm-linked, img.bxfm-unlinked{border-width: 0!important; cursor:pointer!important; height:21px!important; margin:0 0 -5px!important;width:12px!important;}
img.bxfm-linked{background: url(/bitrix/themes/.default/icons/fileman/link.gif) no-repeat transparent center center;}
img.bxfm-unlinked{background: url(/bitrix/themes/.default/icons/fileman/unlink.gif) no-repeat transparent center center;}

.bx-ed-type-selector {text-align: center;}
.bx-ed-type-selector-item {display: inline-block;padding: 5px 2px!important;}

.bx-ed-type-selector-item input{margin: 0!important; padding: 0!important;}
.bx-ed-type-selector-item label{padding-right: 5px!important; padding-left: 2px !important; color:#365069!important; font-size: 12px!important;}

.bxfm-site-sel{width: 33px; height: 26px; border: 1px solid #627394;background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat; cursor: pointer; display: inline-block; margin: 1px 5px 0 7px; vertical-align: bottom !important; border-radius: 3px;}
.bxfm-site-sel div{font-family: Verdana!important; font-size: 11px!important; color: #627394!important; margin: 4px 0 0 3px!important; padding: 3px 0 0 2px !important;}

.bxfm-site-sel-it{/* height: 20px; */ width: 200px;margin: 0!important; padding: 0!important;display: inline-block;}
.bxfm-ss-checked{background-image: url(/bitrix/themes/.default/images/checkbox.gif);background-repeat: no-repeat; background-color: transparent; background-position: 4px 2px;font-weight: bold!important;}
.bxfm-ss-over{background-color:#DBE3F2!important;}
.bxfm-site-sel-it div{margin: 0px 2px 0 26px!important; font-family: Verdana!important; font-size: 11px!important; padding:4px 0!important;}

.bxfm-text-overflow{-o-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/bitrix/js/fileman/text-overflow.xml#ellipsis'); overflow:hidden; white-space: nowrap;}


/* Pack Unpack dialog */

div.bx-fm-pack-dialog{overflow: hidden !important;}
div.bx-pack-cont{margin: 5px;}
div.bx-fm-pack-dialog div.bx-pack-cont input{font-size: 13px !important; padding: 0 2px !important; height: 21px !important;}
div.bx-pack-cont {display: none;}
table.bx-pack-cont-tbl {border-collapse: collapse; width: 100%;}
table.bx-pack-cont-tbl td{padding: 0 !important;}
div.bx-pack-cont table.bx-pack-cont-tbl tr.bx-pack-d-title td{background-color: #EEEEEE !important; height: 22px;}
div.bx-pack-cont a.bx-pack-add-link{margin: 3px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}
span.bx-pack-d-span-hide{color:#000000; font-size:90%;}
div.bx-fm-pack-dialog table.bx-pack-cont-tbl td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding-bottom: 4px !important;}
div.bx-fm-pack-dialog div.bx-core-dialog-content{overflow: hidden!important;}

div.bx-fm-pack-dialog table.bx-pack-cont-tbl  td.bxfm-d-value{text-align: left !important; width: 70%; padding-bottom: 4px !important;}
div.bx-fm-pack-dialog table.bx-pack-cont-tbl td{background-image:none!important;}
table.bx-pack-cont-tbl td.bxfm-d-label label {display:block; margin:4px 8px 0;}
table.bx-pack-cont-tbl td.bxfm-d-value label {display:block; margin:0 0 0 8px;}
table.bx-pack-cont-tbl-add-hide tr.bxfm-add-hide{display: none;}
table.bx-pack-cont-tbl-add-hide span.bx-pack-d-span-hide{display: none;}

div.bx-pack-to-all{margin: 4px 45px; text-align: left !important;}
div.bx-pack-to-all table{border-collapse: collapse; }
div.bx-pack-to-all table td{padding: 0px; background-image: none!important;}

div.bx-core-dialog-foot-ask{padding-bottom: 2px !important;}
table.bx-pack-compare-tbl {margin: 0 20px; border-collapse: collapse;}
.bx-fm-pack-dialog table.bx-pack-compare-tbl td{padding: 4px 8px!important; background-color: #FFFFFF; border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3; background-image: none!important;}
table.bx-pack-compare-tbl tr.bx-pack-bottom td{border-bottom: 1px solid #E3E3E3;}

table.bx-pack-compare-tbl tr.bx-pack-title td{font-weight: bold; padding: 4px 10px !important; background-color: #D5DAE9; border-color:#D5DAE9 !important;}
table.bx-pack-compare-tbl tr.bx-pack-title td.bx-pack-sep-td{padding: 0!important; width: 15px; background-color: #F8F9FC!important; border-width: 0 !important;}

.bx-pack-name-cnt{position: relative; width: 200px; overflow: hidden; white-space: nowrap;}
.bx-pack-new-name{color: #606060; font-style:italic; position: absolute; top: 0px; left: 0px; background-color: #ffffff; width: 200px; font-weight: bold !important;}

/* archive type selector*/
div.bxfm-arctype-sel{margin: 1px 5px 0 0;float: left; width: 260px; height: 18px; border: 1px solid #EEEEEE;background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat; cursor: pointer;}
div.bxfm-arctype-sel div{font-family: Verdana!important; font-size: 11px!important; color: #000!important; margin: 2px 0 0 3px!important; padding: 0!important;}
div.bxfm-arctype-sel-it{/* height: 20px; */ width: 260px;margin: 0!important; padding: 0!important;}
div.bxfm-at-is-popup{background: #fff;border: 1px solid #B2B2B2; position: absolute;width: 260px; display: none; top:20px;z-index:15; overflow: hidden;}
div.bxfm-at-checked{background-image: url(/bitrix/themes/.default/images/checkbox.gif);background-repeat: no-repeat; background-color: transparent; background-position: 4px 2px;font-weight: bold!important;}
div.bxfm-at-over{background-color:#DBE3F2!important;}
div.bxfm-arc-type-it div{margin: 0px 2px 0 26px!important; font-family: Verdana!important; font-size: 11px!important; padding:4px 0!important;}

div.bx-fm-non-selectable {border:none !important; background: none!important; cursor: default!important}

.bx-ml-pnbutton{float:left !important; cursor: pointer; width: 25px; height: 21px; margin:-1px 0 0 2px !important;}
.bx-ml-pnbutton div.bx-pn1{background: url(/bitrix/images/fileman/medialib/browse.gif); width: 14px; height: 21px; float: left;}
.bx-ml-pnbutton div.bx-pn2{background: url(/bitrix/images/fileman/medialib/browse.gif) -14px 0; width: 10px; height: 21px; float: left;}
.bx-ml-pnbutton div.bx-pressed{background: url(/bitrix/images/fileman/medialib/browse.gif) -39px 0;}
.bxml-empty-icon{height: 22px !important; width: 20px !important;}
/*Menu icon*/
#form_menu_icon {background-image:url(icons/form/mnu_form.gif);}
#form_page_icon {background-image:url(icons/form/title.gif);}

/*buttons*/
div#btn_delete {background-image:url(images/buttons/delete.gif);}
div#btn_new {background-image:url(images/buttons/new.gif);}

/*Site edit mode buttons*/
.form_edit_tpl {width:17px; height:17px; background-repeat:no-repeat; background-image: url(/bitrix/images/form/edit_templ_icon.gif)}
.form_edit_default_tpl {width:17px; height:17px; background-repeat:no-repeat; background-image: url(/bitrix/images/form/edit_def_templ_icon.gif)}

table.contextmenu #btn_current {background-color:#DBE3F2; border:1px solid #AEB6C2; height:22px; margin:0px 0px 0px 4px; font-weight: bold; padding-left: 2px;}
/*Menu icon*/
#forum_menu_icon {background-image:url(icons/forum/mnu_forum.gif);}
#forum_page_icon {background-image:url(icons/forum/title.gif);}

/*Menu icon*/
#highloadblock_menu_icon {background-image:url(icons/highloadblock/mnu_hlblock_settings.gif);}
#highloadblock_page_icon {background-image:url(icons/highloadblock/title_settings.gif);}
img.linked
{
	position: relative;
	left: 2px;
	top: 6px;
	width: 11px;
	height: 21px;
	border: none;
	cursor: pointer;
}
.iblock-strike-out td
{
	text-decoration: line-through;
}

.iblock-section-icon
{
	background-position:  center -118px;
}
.perfmon_code {color:navy;}
/*Menu icon*/
#sale_menu_icon {background-image:url(icons/sale/mnu_sale.gif);}
#sale_menu_icon_orders {background-image:url(icons/sale/mnu_orders.gif);}
#sale_menu_icon_crm {background-image:url(icons/sale/mnu_crm.gif);}
#sale_menu_icon_recurring {background-image:url(icons/sale/mnu_recurring.gif);}
#sale_menu_icon_buyers {background-image:url(icons/sale/mnu_buyers.gif);}
#sale_menu_icon_statistic {background-image:url(icons/sale/mnu_statistic.gif);}

#sale_page_icon {background-image:url(icons/sale/title.gif);}
#sale_page_icon_orders {background-image:url(icons/sale/title_orders.gif);}
#sale_page_icon_crm {background-image:url(icons/sale/title_crm.gif);}
#sale_page_icon_recurring {background-image:url(icons/sale/title_recurring.gif);}
#sale_page_icon_buyers {background-image:url(icons/sale/title_buyers.gif);}
#sale_page_icon_statistic {background-image:url(icons/sale/title_statistic.gif);}


.crm-admin-wrap {font-family:Arial, sans-serif; font-size:12px; padding: 15px; background: #fff; border: solid 1px #C5CECF; border-radius: 4px; }
.crm-admin-paragraph {padding:0 0 11px; margin:0; font-size: 12px;}
.crm-admin-banner {margin-top:11px; height:375px;}
.crm-admin-banner-ru {background:url("/bitrix/images/sale/banner_ru.png") no-repeat left top;}
.crm-admin-banner-en {background:url("/bitrix/images/sale/banner_en.png") no-repeat left top;}
.crm-admin-banner-de {background:url("/bitrix/images/sale/banner_de.png") no-repeat left top;}
.crm-admin-buttons {padding-top:16px;}
.crm-admin-button-wrap {display:inline-block; vertical-align:top;}
.crm-admin-button-or {display:inline-block; font-size:13px; padding-top:7px; margin-right:10px; vertical-align:top;}
.crm-admin-buttons .crm-admin-wf-button-text {font-size:13px;}
.crm-admin-button-text {text-align:left; font-size:11px; color:#7f7f7f; padding:14px 0 0 9px;}

.crm-admin-set {font-family:Arial, sans-serif; padding-top:16px;}
.crm-admin-set-title {border-bottom:1px solid #d6d6d6; font-size:16px; font-weight:bold; padding-bottom:10px; }
.crm-admin-set-content-table {margin:22px 0 0 0;}
.crm-admin-set-left {color:#808080; font-size:14px; text-align:right; vertical-align:top; padding:5px 20px 0 0;}
.crm-admin-set-right {font-size:12px; vertical-align:top; padding:0 0 21px;}
.crm-admin-set-select {font-size:15px; height:28px;}
.crm-admin-set-input{
	border: 1px solid #BDBDBD;
	-moz-box-shadow: 0 1px 1px #E9E8E8 inset;
	-webkit-box-shadow: 0 1px 1px #E9E8E8 inset;
	box-shadow: 0 1px 1px #E9E8E8 inset;
	display: inline-block;
	height: 27px;
	margin-right: 10px;
	outline: medium none;
	padding: 0 3px;
	vertical-align: middle;
	width: 200px;
}
.crm-admin-set-text {display:inline-block; font-size:15px; margin:0 5px 0 15px; vertical-align:middle;}
.crm-admin-set-checkbox {margin:0 8px 0 0; vertical-align:middle;}
.crm-admin-set-checkbox-label {display:inline-block; vertical-align:middle;}

.crm-admin-set-button {border-top:1px solid #e8e8e8; padding-top:10px; text-align:center;}

.crm-admin-title {font-weight:bold; font-size:18px; padding-bottom:14px;}
.crm-admin-statistics-block {background-color:#f5f5f5; margin-top:12px; padding:15px 21px 28px 17px; width:620px;}
.crm-admin-stat-top {border-bottom:1px solid #dcdcdc; padding-bottom:11px; position:relative;}
.crm-admin-title-link {color:#2f58a4; font-size:16px; font-weight:bold; text-decoration:underline;}
.crm-admin-title-link:link,
.crm-admin-title-link:active,
.crm-admin-title-link:hover,
.crm-admin-title-link:visited {color:#2f58a4; text-decoration:underline}
.crm-admin-reset {color:#898989; text-decoration:underline; position:absolute; right:5px; top:5px;}
.crm-admin-reset:hover,
.crm-admin-reset:active,
.crm-admin-reset:visited,
.crm-admin-reset:link {color:#898989; text-decoration:underline;}

.crm-admin-stat-content {border:none; margin-top:12px;}
.crm-admin-stat-content td {color:#000; vertical-align:bottom; padding:0 0 15px; font-size: 12px;}
td.crm-admin-stat-cont-left {padding-right:25px; width:100px;}
.crm-admin-stat-link,
.crm-admin-stat-link:hover,
.crm-admin-stat-link:visited,
.crm-admin-stat-link:link,
.crm-admin-stat-link:active {color:#607fb8; text-decoration:underline;}

.crm-admin-add-integration {border-top:1px solid #e5e5e5; margin-top:27px; padding-top:27px;}
.crm-admin-add-integration .crm-admin-buttons {padding-top:33px;}



.crm-admin-wf-buttons { margin: 15px 0 0 0; text-align: center; }
.crm-admin-wf-button, .crm-admin-wf-button-left, .crm-admin-wf-button-right, .crm-admin-wf-button-text {
	display: inline-block; vertical-align: top !important; height:35px; line-height:35px; cursor:pointer; text-decoration:none !important; outline:none;
}

.crm-admin-wf-button { margin: 0 10px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1110px;}
.crm-admin-wf-button-left { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1075px;}
.crm-admin-wf-button-text { font: normal normal normal 17px/33px Arial, Helvetica, sans-serif; padding:0 8px; color: #4f4f4f; }
.crm-admin-wf-button-right { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -1075px;}

.crm-admin-wf-button:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1147px; }
.crm-admin-wf-button:hover .crm-admin-wf-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -20px -1075px; }
.crm-admin-wf-button:hover .crm-admin-wf-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -24px -1075px; }

.crm-admin-wf-button-accept, .crm-admin-wf-button-create { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -86px; }
.crm-admin-wf-button-accept .crm-admin-wf-button-left, .crm-admin-wf-button-create .crm-admin-wf-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -51px; }
.crm-admin-wf-button-accept .crm-admin-wf-button-text, .crm-admin-wf-button-create .crm-admin-wf-button-text { color: #fff; text-shadow: #20ad0f -1px -1px 0, #55c747 1px 1px 0; }
.crm-admin-wf-button-accept .crm-admin-wf-button-right, .crm-admin-wf-button-create .crm-admin-wf-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -51px; }
.crm-admin-wf-button-accept:hover, .crm-admin-wf-button-create:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -818px; }
.crm-admin-wf-button-accept:hover .crm-admin-wf-button-left, .crm-admin-wf-button-create:hover .crm-admin-wf-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -783px; }
.crm-admin-wf-button-accept:hover .crm-admin-wf-button-right, .crm-admin-wf-button-create:hover .crm-admin-wf-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -783px; }

.crm-admin-wf-button-decline { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1218px; }
.crm-admin-wf-button-decline .crm-admin-wf-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1183px; }
.crm-admin-wf-button-decline .crm-admin-wf-button-text { text-shadow: #e15252 -1px -1px 0; color: #fff;}
.crm-admin-wf-button-decline .crm-admin-wf-button-right {  background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -1183px; }
.crm-admin-wf-button-decline:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -890px; }
.crm-admin-wf-button-decline:hover .crm-admin-wf-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -855px; }
.crm-admin-wf-button-decline:hover .crm-admin-wf-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -855px; }

.crm-admin-wf-button-link { display: inline-block; margin: 8px 15px 0 0; text-decoration: underline !important; font: normal 15px Arial, Helvetica, sans-serif;}
.crm-admin-wf-button-link-cancel  { color: #d83e3e !important; }

.crm-admin-wf-small-button, .crm-admin-wf-small-button-left, .crm-admin-wf-small-button-icon, .crm-admin-wf-small-button-right, .crm-admin-wf-small-button-text {
	display: inline-block; vertical-align: middle; height:27px;
	cursor:pointer; text-decoration:none !important; outline:none;
}

.crm-admin-wf-small-button { margin: 0 12px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -551px;}
.crm-admin-wf-small-button-left { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -493px; margin-right: 8px; }
.crm-admin-wf-small-button-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: #4f4f4f;}
.crm-admin-wf-small-button-right { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -493px; margin-left: 8px;}

.crm-admin-wf-small-button:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -985px; }
.crm-admin-wf-small-button:hover .crm-admin-wf-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -927px; }
.crm-admin-wf-small-button:hover .crm-admin-wf-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -927px; }

.crm-admin-wf-small-button-accept { margin: 0 12px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -356px;}
.crm-admin-wf-small-button-accept .crm-admin-wf-small-button-left { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -328px; margin-right: 6px; }
.crm-admin-wf-small-button-accept .crm-admin-wf-small-button-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: #fff; text-shadow: #75ab6f -1px -1px 0/*, #72c868 1px 1px 0*/;}
.crm-admin-wf-small-button-accept .crm-admin-wf-small-button-right { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -328px; margin-left: 6px;}

.crm-admin-wf-small-button-accept:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1044px; }
.crm-admin-wf-small-button-accept:hover .crm-admin-wf-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1016px; }
.crm-admin-wf-small-button-accept:hover .crm-admin-wf-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -1016px; }

.crm-admin-wf-small-button-decline  { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -522px;  }
.crm-admin-wf-small-button-decline .crm-admin-wf-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -493px; }
.crm-admin-wf-small-button-decline .crm-admin-wf-small-button-text { text-shadow: #e15252 -1px -1px 0; color: #fff;}
.crm-admin-wf-small-button-decline .crm-admin-wf-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -493px;}

.crm-admin-wf-small-button-decline:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -956px; }
.crm-admin-wf-small-button-decline:hover .crm-admin-wf-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -927px; }
.crm-admin-wf-small-button-decline:hover .crm-admin-wf-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -927px; }

.crm-admin-wf-small-button-link { display: inline-block; vertical-align: middle; margin: 0 15px 0 0; text-decoration: underline !important;}

.crm-admin-wf-button-upload, .crm-admin-wf-button-upload .crm-admin-wf-button-left, .crm-admin-wf-button-upload .crm-admin-wf-button-right, .crm-admin-wf-button-upload .crm-admin-wf-button-text { display: inline-block; vertical-align: top; height:27px; line-height:27px; cursor:pointer;}
.crm-admin-wf-button-upload .crm-admin-wf-button-left { width:15px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -222px;}
.crm-admin-wf-button-upload .crm-admin-wf-button-text { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -251px; font: normal normal normal 14px/26px Arial, Helvetica, sans-serif; padding:0 8px; color: #5b5b5b; text-shadow: none;}
.crm-admin-wf-button-upload .crm-admin-wf-button-right { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat right -222px;}


/*style for order edit*/
.no_foto {
	width: 78px;
	height: 78px;
	border: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #adadad;
	font-size: 11px !important;
	line-height: 76px;
	display: inline-block;
}
span.pencil {
	width:15px;
	background: url("/bitrix/images/sale/order_new.png") left 0 no-repeat;
	display:none;
	float:right;
	margin-top:5px;
}

#tabs {width:100%;}
#tabs div.tabs {float:left; margin: 0 3px;background-color: #E3EBEE; position: relative;bottom:-1px;text-shadow:0 1px #fff;}
#tabs div.tabs {cursor:pointer;display:block;padding:7px 10px;color: #555556;text-decoration: none;border-left:1px solid #F8F9FC;border-right:1px solid #F8F9FC;}
#tabs div.tabs:hover {text-decoration: underline;}

#tabs div.tabs.active {border-left:1px solid #dcdcdc;border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc;border-bottom:1px solid #F8F9FC; color: #000;background-color: #F5F9F9;}
#tabs div.tabs.active a:hover {text-decoration: none;}

#tabs div.tabstext {display:none;margin-left: 0px;padding: 5px;text-align: left;}
#tabs div.tabstext.active {clear:both;display:block;border-top:1px solid #dcdcdc;}

/* basket tabs */
#basket_tabs {width:100%;}
#basket_tabs div.tabs {float:left; margin: 0 3px;background-color: #E3EBEE; position: relative;bottom:-1px;text-shadow:0 1px #fff;}
#basket_tabs div.tabs {cursor:pointer;display:block;padding:7px 10px;color: #555556;text-decoration: none;border-left:1px solid #F8F9FC;border-right:1px solid #F8F9FC;}
#basket_tabs div.tabs:hover {text-decoration: underline;}

#basket_tabs div.tabs.active {border-left:1px solid #dcdcdc;border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc;border-bottom:1px solid #F8F9FC; color: #000;background-color: #F5F9F9;}
#basket_tabs div.tabs.active a:hover {text-decoration: none;}

#basket_tabs div.tabstext {display:none;margin-left: 0px;padding: 5px;text-align: left;}
#basket_tabs div.tabstext.active {clear:both;display:block;border-top:1px solid #dcdcdc;}

.order_summary td {
	width: 50% !important;
	text-align: right;
}
table.order_summary td.summary td {
	font-size: 15px !important;
}
.order_summary td.load_product {
	padding-right: 10px !important;
}
.order_summary td.tab_img {
	text-align: center !important;
	width: 6% !important;
	vertical-align: middle !important;
}
.order_summary td.tab_text {
	width: 94% !important;
}
#tabs td {padding: 5px !important;border-bottom:1px solid #dcdcdc;text-align: left;}

.order_summary a.get_new_order, a.get_more {
	color: #717171;
	display: inline-block;
	margin-bottom: 5px;
}
.order_summary td.tab_text a.get_new_order span {
	background: url('/bitrix/images/sale/order_new.png') -15px 0 no-repeat;
	padding-left: 17px;
}
.order_summary td.more_product a.get_more span {
	background: url('/bitrix/images/sale/order_new.png') -46px -8px no-repeat;
	display: inline-block;
	height: 5px;
	width: 8px;
}
.order_summary div.order_name {
	font-size: 14px !important;
	margin-bottom: 7px;
}
.order_summary div.order_price {
	margin-bottom: 10px;
}
.order_summary div.order_price b{
	font-size: 15px !important;
}
.order_summary .more_product {
	text-align: right !important;
	border-bottom: none !important;
}
.order-itog {
	background-color:#ecf2d3;
	padding: 10px;
	width:425px;
	width:98%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.order-itog table {
	width:100%;
	border-collapse:collapse;
}
.order-itog	table tr td {
	padding: 8px !important;
	background-color:#ecf2d3;
	border:none;
	/*text-align: left !important;*/
}
.order-itog	table tr td.title {
	width: 85% !important;
	text-align: left;
}
.order-itog	table tr td:last-child {
	text-align:right;
}
.order-itog	.price td {
	color:#af0000;
}
.order-itog	table tr.itog td {
	padding:0 !important;
}
.order-itog	.itog td div {
	color:#000;
	font-weight:bold;
	background:#dbe4b7;
	-webkit-box-shadow:  1px 1px 1px 1px #dee4cb;
	box-shadow:  1px 1px 1px 1px #dee4cb;
}
.order-itog	.itog td.ileft {
	text-align: left;
}
.order-itog	.itog td.ileft div {
	padding: 8px 0 8px 8px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	white-space:nowrap;
}
.order-itog	.itog td.iright div {
	padding: 8px !important;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	white-space:nowrap;
}

td.user_name div {float: left;}
td.user_name span.pencil {margin-left: 10px;margin-top: 0;}
td.user_name:hover span.pencil {display: inline-block;}
div.fio {margin-bottom: 10px;}

#user_name {width: auto;}
#user_name .pencil {
	float: none  !important;
	margin: 0 0 0 7px;
}
#user_name a:hover .pencil {
	display: inline-block;
}
.adm-btn-wrap.active:hover span.adm-btn {
	background: none !important;
	background-color: #DDD !important;
}
input.btn_input:hover, a.btn_input:hover {
	background-position:0 -783px;
}
td.btn_order a {
	width: 135px;
	text-align: center;
}
#BREAK_NAME .fio.newo_break_active input {
	color: #CCC;
}


/*order list*/
#BASKET_TABLE td {
	height: 100%;
}
#BASKET_TABLE td.COLUMN_PROPS {
	vertical-align: top;
	font-size: 12px !important;
}
#BASKET_TABLE td.action {
	width: 20px !important;
}
#BASKET_TABLE td.COLUMN_IMAGE {
	width: 110px !important;
	text-align: center;
}
#BASKET_TABLE td.COLUMN_NAME {
	vertical-align: top;
	font-size: 14px !important;
	font-weight: bold;
}

#BASKET_TABLE td.COLUMN_NUMBER, td.property_field {
	font-size: 14px !important;
	margin-bottom: 7px;
	text-align: right;
	vertical-align: top;
}

#BASKET_TABLE td.COLUMN_NAME a.name-link {
	color: #004199;
}

#BASKET_TABLE td.store {
	font-size: 15px !important;
	text-align: right !important;
	vertical-align: top;
}

#BASKET_TABLE td.store_barcode, td.store_barcode_found {
	font-size: 15px !important;
	text-align: center; !important;
	vertical-align: top;
}

#BASKET_TABLE td.store_amount {
	font-size: 15px !important;
	text-align: left !important;
	vertical-align: top;
}

td.store_amount input {
	text-align: center;
}

.store_quantity_msg {
	color: #ccc;
	text-align: center;
	padding: 10px;
}

div.store_barcode_found_wrapper {
	height: 27px;
	text-align: center;
	margin-top: 5px;
}

td.store_barcode input {
	text-align: center;
}

.store_row_element {
	margin-top: 5px !important;
	display: block;
}

.store_first_row_element {
	display: block;
}

.store_select_delete {
	width: 15px;
	height: 15px;
	float: left;
	display: none;
}

.store_select_delete_button {
	background: url("/bitrix/images/sale/del.gif") no-repeat scroll left 0 transparent;
	cursor: pointer;
	display: inline-block;
}

/* new barcode styles */

.store_barcode_not_found {
	border: solid 1px #ff2400 !important;
	background-color: #fff !important;
}

.store_barcode_found_input {
	background-color: #99ff99 !important;
	/*border: solid 1px green !important;*/
}

.store_barcode_deducted {
	border: solid 1px #ccc !important;
	background-color: #eee !important;
}

.store_barcode_hidden_div {
	display: none;
}

.store_barcode_scroll_div  {
	min-height: 50px; max-height: 300px; overflow: auto;
}

.adm-btn-barcode {
	height: 16px !important;
}

.store-doc-title {font-weight: bold; text-align: center; font-size: 13px;}

.split-delete-item { width: 15px; height: 15px;  display: inline-block;}
.split-delete-item {width: 15px; height: 15px; background:url('/bitrix/images/sale/grey_del.gif'); }
.split-delete-item:hover{background:url('/bitrix/images/sale/red_del.gif') no-repeat; }

td.barcode_table_name,
td.barcode_table_store,
td.barcode_table_input,
td.barcode_table_input input,
td.barcode_table_checkbox {
	text-align: center;
}

td.barcode_table_name a {
	font-size: 14px !important;
	font-weight: bold;
	color: #004199 !important;
}

#BASKET_TABLE td.COLUMN_REMAINING_QUANTITY {
	font-size: 15px !important;
	text-align: right !important;
	vertical-align: top;
}
#BASKET_TABLE td.COLUMN_QUANTITY {
	font-size: 15px !important;
	text-align: right !important;
	vertical-align: top;
}
#BASKET_TABLE td.COLUMN_PRICE {
	min-width: 100px !important;
	text-align: right !important;
	vertical-align: top;
}
#BASKET_TABLE td.COLUMN_PRICE .discount {
	color: #be0000;
	font-size: 12px;
	padding-top: 3px;
	clear: left;
}
#BASKET_TABLE td.COLUMN_PRICE .base_price_title {
	font-size:11px;
	color: #717171;
}
#BASKET_TABLE td.COLUMN_PRICE .base_price {
	font-size:15px !important;
	color: #717171;
	text-decoration:line-through;
	margin-bottom: 5px;
	font-weight: bold;
}
#BASKET_TABLE td.COLUMN_PRICE .base_price span {
	color: #717171;
	font-size: 11px;
}
#BASKET_TABLE .edit_price .formated_price {
	font-size: 15px !important;
	font-weight: bold;
	margin-right: 4px;
}
#BASKET_TABLE span.currency_price {
	font-size: 11px;
	color: #717171;
	font-weight: bold;
	display: inline;
}
#BASKET_TABLE .edit_price .default_price_product {
	padding: 1px 0 0 0;
	display: inline-block;
	height:25px;
}
#BASKET_TABLE .edit_price .edit_price_product {
	display: none;
}
#BASKET_TABLE .edit_price span.pencil {
	margin: 0px 0 0 5px !important;
}
#BASKET_TABLE .edit_price.edit_enable .edit_price_product {
	display: inline-block;
}
#BASKET_TABLE .edit_price.edit_enable .edit_price_product input {
	border: 1px solid #dcdcdc;
	background-color: #FFF;
	font-weight: bold;
	margin-top: -1px;
}
#BASKET_TABLE .edit_price.edit_enable .default_price_product {
	display: none;
}
#BASKET_TABLE .edit_price span.currency {
	font-size: 11px;
	float:left;
	margin: 10px 5px 0;
}
#BASKET_TABLE .edit_price span.pencil {
	float: none;
}
#BASKET_TABLE .edit_enable span.pencil, tr.tr_hover span.pencil {
	display:inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	margin: 0 0 0 5px;
}
#BASKET_TABLE td.COLUMN_SUM {
	font-size: 15px !important;
	text-align: right !important;
	vertical-align: top;
	font-weight: bold;
	min-width: 100px !important;
}
#BASKET_TABLE td.COLUMN_SUM span {
	color: #717171;
	font-size: 11px;
	font-weight: bold;
}
#tabs td.tab_img img {
	border: none;
}
table.itog_header td, table td.heading {
	background-color: #E0E8EA;
	padding: 8px 15px 10px;
	text-align: center !important;
	color: #4B6267;
	font-weight: bold;
}

.order_count input {
	border: 1px solid #dcdcdc;
	font-size: 15px;
	box-shadow: none !important;
	text-align: center;
}
div.set_coupon {
	float: left;
	padding: 10px;
	border: 1px solid #DCDCDC;
	color: #be0000;
}
div.set_coupon input {
	color: black !important;
}
div.set_coupon div {
	margin-top: 5px;
	color: #000000;
}
div.dont_can_buy {
	color: #be0000;
	font-size: 11px;
	padding-top: 3px;
}

.store {
	min-width: 150px !important;
	text-align: right !important;
	vertical-align: top;
	padding-left: 15px;
}

.store select {
	width: 97%;
	margin-left: 15px !important;
}

.store .store_select_wrapper {
	width: 100%;
	/*padding-right: 15px;*/
}

.store a.add_store, .store .store_product_no_stores {
	color: #717171;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 13px;
}

.add_store_hidden {
	display: none !important;
}

.store span {
	background: url("/bitrix/images/sale/order_new.png") no-repeat scroll -15px 0 transparent;
	padding-left: 17px;
}

/*comment*/
#manager-comment-text {
	width:295px;
	display: none;
	width:260px;
	height:80px;
	border:1px solid;
	border-color:#87919c #959ea9 #9ea7b1 #959ea9;
	-ms-border-radius:3px;
	border-radius:3px;
	color:#3f4b54;
	padding:0 5px;
	box-shadow: none !important;
}
#manager-comment-title {
	float: left;
	cursor: pointer;
	color: grey;
}
#hover_comment:hover .pencil {
	display:inline-block;
	height: 14px;
	position: absolute;
	margin: 0 0 0 5px;

}
/*tracking-number*/
#tracking-number-text {
	display: none;
	border:1px solid;
	border-color:#87919c #959ea9 #9ea7b1 #959ea9;
	-ms-border-radius:3px;
	border-radius:3px;
	color:#3f4b54;
	padding:0 5px;
	box-shadow: none !important;
}
#tracking-number-title {
	float: left;
	cursor: pointer;
	color: grey;
}


/*popup*/
.alloy_payed_left {
	padding: 4px 0 4px 10px;
	background-color:#e1e9c5;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	display:inline-block;
	text-align: right;
}
.alloy_payed_right {
	padding: 4px 10px;
	background-color:#e1e9c5;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	display:inline-block;
	text-align: left;
	margin-left: -9px;
}
.order_cancel_left {
	padding: 4px 0 4px 10px;
	background-color:#FDBFBF;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	display:inline-block;
	text-align: right;
}

.order_cancel_right {
	padding: 3px 10px 5px;
	background-color:#FDBFBF;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	display:inline-block;
	text-align: left;
	margin-left: -9px;
}

.order_marked_right {
	padding: 4px 10px 4px;
	background-color:#FDBFBF;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	display:inline-block;
	text-align: left;
	margin-left: -9px;
}

#listItemPrice {
	font-size: 14px;
}
#listItemOldPrice {
	color: red;
	font-size: 12px;
}

.sale_popup_form {
	font-size: 12px;
	display: none;
	padding-top: 8px;
}
.sale_popup_form input.popup_input {
	height: 24px;
	width: 238px;

}
.sale_popup_form select {
	height: 30px;
	width: 250px;

}
.sale_popup_form td {
	text-align: left;
}
.sale_popup_form td.head {

}
.sale_popup_form .title {
	font-size: 14px;
	color:grey;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}
.popup_form_sku_order {
	display: none;
	border:1px solid #999;
	background-color: #FFF;
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	-webkit-border-radius: 4px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
#sku_selectors_list td {
	width: 100px;
}
#listItemOldPrice {
	text-decoration:line-through;
}
.sale-popup-title-bar {font-size: 13px; font-weight: bold; text-align: center; display: inline-block; width: 100%;}

tr.adm-list-table-row.border_sku td {
	background-color: rgb(224, 233, 236) !important;
}
span.warning_balance {
	font-size:11px;
	display:inline-block;
	color:rgb(190, 0, 0);
	line-height:11px;
	margin-top:5px;
}
.adm-filter-box-sizing .adm-list {
	margin-left:10px;
}

.adm-not-visible {
	display: none;
}

.adm-table-row-visible {
	display: table-row;
}

#order_related_props {
	width: 100%;
}

#table_settings {
	background: url("images/action_head.gif") no-repeat scroll center #E3EBEE !important;
}

table#total_count_table {
	width: 100%;
	margin: 0px;
}

#total_number {
	text-align: right;
	background: none !important;
	padding: 3px 3px 0px 3px;
	height: 15px;
	margin: 0px;
}

.scrollable {
   overflow: auto;
   width: 340px;
   height: 250px;
   border: 1px silver solid;
}

.settings_select {
	border: none !important;
	overflow: hidden !important;
	min-width: 340px;
	min-height: 250px !important;
}

.quantity-block {
	width: 150px;
	display: block;
	margin: 0;
	position: relative;
	float: right;
}

.quantity-block-wrap {
	position: relative;
	float: right;
	margin: auto;
}

/* quantity */

.quantity-wrap {
	display: block;
	position: relative;
	float:left;
	margin: 0;
}

.quantity-field {
	height: 27px !important;
}

/* measure */

.measure-wrap {
	display: block;
	position: relative;
	float:left;
	left: 2px;
	height: 25px;
	width: 30px;
	margin: 0;
	padding: 8px 3px 0px 3px;
}

/* delivery info */

a.dashed-link {
	text-decoration: none;
	border-bottom: dashed 1px #808080;
	color: #808080 !important;
	font-weight: none;
	border-spacing: 0;
}

a.dashed-link:hover {
	text-decoration: none;
}

.hidden-delivery-info {
	display: none;
}

.adm-cell-aligned-right {
	text-align: right;
}


.quantity_control {
	display: inline-block;
	margin-left: 53px;
	margin-top: 3px;
	padding: 0;
	position: absolute;
	float:left;
	left: 0px;
	top: 0px;
}

.quantity_control a {
    background: url("/bitrix/images/sale/arrows.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #D8D8D8;
    display: block;
    height: 10px;
    text-align: center;
    width: 11px;
}

.quantity_control a.plus {
    background-position: 0px 0px;
    border-radius: 5px 5px 0 0;
}

.quantity_control a.minus {
    background-position: 0px -20px;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
}

.https_check_success {
	font-weight: bold;
	color: green;
}

.https_check_fail {
	font-weight: bold;
	color: red;
}

.show-set-link {
	display: inline-block;
    font-size: 13px !important;
    font-weight: normal !important;
}

.show-set-link:active {
	background-color: none;
}

.set-link-block {
}

.name-dash {
	font-weight: normal;
}

.set-item-link-name {
	font-style: italic;
}
.subscribe_border {border:1px solid #BDC6E0; padding:4px;}

/*Menu icon*/
#vote_menu_icon {background-image:url(icons/vote/mnu_vote.gif);}
#vote_page_icon {background-image:url(icons/vote/title.gif);}

