body, .header {
	background: #e1f2fc url('../images/new-year-2017/background.jpg') repeat;
}

.menu-top {
	background: #fff;
}

.header__phone-bg {
	background-color: #e1f2fc;
}

.header {
	position: relative;
	padding-top: 115px;
}

.header:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 168px;
	background: url('../images/new-year-2017/background-top.png') center 0 repeat-x;
}

.footer {
	position: relative;
	padding-top: 50px;
}

.footer:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: -130px;
	width: 100%;
	height: 179px;
	background: url('../images/new-year-2017/background-bottom.jpg') center 0 repeat-x;
}

.l-container {
	position: relative;
	z-index: 2;
}

.header__content:before {
	background: rgba(0, 0, 0, 0) url("../images/new-year-2017/logo.png") repeat-x scroll center bottom;
    content: "";
    display: block;
    height: 230px;
    left: 4px;
    position: absolute;
    top: -129px;
    width: 93px;
}