.over{
	width:918px;
	overflow: visible;
	float: right;
}
.over .tabcontrols-holder{
	/*z-index: 1000;*/
}

.tab_left_side_text {float:left;}
.tab_right_side_text {float:right;}

.customMapControl {
            background-color: #fff;
            padding: 10px;
            border-radius: 3px;
            max-width: 200px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ajax-price-list ul.pricelist-list li p.priceSectionName2, .ajax-price-list ul.pricelist-list li i
{
cursor:pointer;
}

.ajax-price-list ul.pricelist-list > li > ul
{
display:none;
}

