ol.vote-items-list, ol.vote-items-list li {
	margin: 0; padding: 0; border: none; font-size: 100%; list-style-type: none;}
ol.vote-items-list li {margin-bottom: 15px;}
ol.vote-items-list li.vote-item-vote-last {margin-bottom: 0;}
ol.vote-items-list li.vote-item-vote-first{}
ol.vote-answers-list{margin-top:0.55em;overflow: hidden;}
ol.vote-answers-list li {
	margin-bottom:0.2em;
	float: left;
	margin-right: 8px;
}
.vote-answers-list .jq-radio {
	margin: 3px 2px 0 0;
	vertical-align: top;
}
.voting-form-box .title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
	margin-bottom: 20px;
}
.voting-form-box
{
	font-size:100%;
	padding: 0.55em;
}
.voting-form-box textarea {
	max-width: 100%;
	width: 393px;
	overflow: auto;
	margin-bottom: 10px;
	resize: vertical;
}

div.vote-item-links{
	float:right;}
.vote-item-title{
	font-weight:bold;}
div.vote-item-date{
	font-style: italic;}
div.vote-item-header{
	margin-bottom: 0.5em;}
div.vote-item-footer{
	margin-top: 0.5em;}
div.vote-item-image{
	float:left;
	padding-right:0.55em;}
div.vote-item-lamp{
	display:none;}
.vote-item-lamp-green span {
	color:green;}
.vote-item-lamp-red span {
	color:red;}
div.vote-clear-float { 
	clear: both;}
form.vote-form {
	margin:0; }
.starrequired {
    color:red; }
.vote-reply-field-captcha-label {
    margin-bottom:6px;}
.vote-vote-footer {
    margin-top:6px;}
.vote-reply-field-captcha-image {
    margin-bottom:6px;}
.vote-form-captcha {
    margin-left:0.55em;}
