body {
    color: #000;
    font-family: "PT Sans",Verdana,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    min-width: 1210px;
}

img {
    border-style:none;
}


a {
    color:#931368;
    outline:none;
}

a:hover {
    text-decoration:none;
    color: #ce156d;
}

* {
    outline:none;
}

h1{
    margin:0 0 24px;
    font-size:30px;
    line-height:35px;
    font-weight:bold;
    text-transform:uppercase;
}

h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
    font-weight: bold;
}

h3 {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size:20px;
}

p {
    margin: 0 0 25px 0;
}

.b-btn_white {
    text-decoration: none;
    color: #ce156d;
    font-weight: 700;
    padding: 10px;
    min-width: 170px;
    border: 2px solid #ce156d;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.b-btn_white input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.b-btn_white:hover {
    color: #931368;
    border-color: #931368;
}

.b-btn_white:active {
    color: #ffc500;
    border-color: #ffc500;
}

.button01{
    display:inline-block;
    vertical-align:top;
    position:relative;
    text-decoration:none;
    font-size:14px;
    line-height:38px;

    font-weight:bold;
    border: 0;
    height:38px;
    padding:0 30px;
    color:#fff;
    background: #acce27;
    background: -moz-linear-gradient(top,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acce27), color-stop(100%,#7bc600));
    background: -webkit-linear-gradient(top,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    background: -o-linear-gradient(top,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    background: -ms-linear-gradient(top,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    background: linear-gradient(to bottom,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    -pie-background: linear-gradient(top,  #acce27 0%,#79bb00 50%,#4dac00 50%, #7bc600 100%);
    text-transform:uppercase;
}
.button01:hover{
    background: -moz-linear-gradient(top,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acce27), color-stop(100%,#7bc600));
    background: -webkit-linear-gradient(top,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
    background: -o-linear-gradient(top,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
    background: -ms-linear-gradient(top,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
    background: linear-gradient(to bottom,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
    -pie-background: linear-gradient(top,  #7bc600 0%,#4dac00 50%,#79bb00 50%, #acce27 100%);
}
.button01 input{
    position:absolute;
    background:none;
    border:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    padding:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/none.gif) no-repeat;
    cursor:pointer;
}

.clearfix:before,
.clearfix:after {content: ''}
.clearfix:before {
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

table.web-table {
    border-collapse: collapse;
    border:1px solid #a00b4e;
}

table.web-table p {
    margin:0;
}

table.web-table th {
    padding: 20px 10px 15px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: #a00b4e;
    border-right: 1px solid #be3070;
}

table.web-table th:last-child {
    border-right: 0;
}

table.web-table td {
    padding: 10px;
    border-right: 1px solid #ae195c;
    border-bottom: 1px solid #ae195c;
    vertical-align: top;
}

table.web-table tr td:first-child {
    border-left: 1px solid #ae195c;
}
.lapino-mkad {
    background: #e14326;
    border-radius: 100%;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 200;
    height: 65px;
    line-height: 1.1;
    margin-bottom: -30px;
    margin-top: -30px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 65px;
    margin-left: 20px;
}

a.lapino-mkad:hover {
    background: #c42609;
    text-decoration: none !important;
}

.lapino-mkad:after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    bottom: 5px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    background: url('../images/new/i-clock.png') no-repeat;
}

.lapino-mkad__time {
    font-weight: 700;
    display: block;
    padding-top: 10px;
    font-size: 14px;
}

.lapino-mkad__time span {
    font-size: 17px;
    padding-right: 1px;
}

.lapino-contacts-road {
    padding: 15px 25px;
    overflow: hidden;
    background: #efefef;
}

.lapino-contacts-road .lapino-mkad {
    float: right;
    margin: 0 0 15px 15px;
}

.gallery-title {
    font-size: 30px;
    display: block;
    margin-bottom: 6px;
    line-height: 28px;
}

.slide-title {
    font-size: 20px;
    line-height: 24px;
    display: block;
}

.content-banner-eko {
    margin-left: 20px;
    margin-bottom: 15px;
    width: 196px;
    border: 2px solid #c60349;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    float: right;
    clear: right;
}

.content-banner-eko__head {
    background: #c60349;
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-family: 'cocon-regularregular', 'PT Sans', Arial, sans-serif;
}

.content-banner-eko__txt {
    padding: 6px;
    display: block;
    color: #c60349;
    font-size: 14px;
    text-transform: lowercase;
}